<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Welcome To | Bootstrap Based Admin Template - Material Design</title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="/Assets/admin/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="/Assets/admin/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="/Assets/admin/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Colorpicker Css -->
    <link href="/Assets/admin/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" rel="stylesheet" />

    <!-- Dropzone Css -->
    <link href="/Assets/admin/plugins/dropzone/dropzone.css" rel="stylesheet">

    <!-- Multi Select Css -->
    <link href="/Assets/admin/plugins/multi-select/css/multi-select.css" rel="stylesheet">

    <!-- Bootstrap Spinner Css -->
    <link href="/Assets/admin/plugins/jquery-spinner/css/bootstrap-spinner.css" rel="stylesheet">

    <!-- Bootstrap Tagsinput Css -->
    <link href="/Assets/admin/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet">

    <!-- Bootstrap Select Css -->
    <link href="/Assets/admin/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />

    <!-- noUISlider Css -->
    <link href="/Assets/admin/plugins/nouislider/nouislider.min.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="/Assets/admin/css/style.css" rel="stylesheet">

    <link href="~/Assets/admin/css/style.css" rel="stylesheet">
    @RenderSection("CustomCss")
    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/Assets/admin/css/themes/all-themes.css" rel="stylesheet" />
</head>
    
<body class="theme-red">
    <!-- Page Loader -->
    @Html.Partial("Layout/_HeaderPartial");
    <!-- #Top Bar-->
    <section>
        <!-- Left Sidebar -->
        @Html.Partial("Layout/_LeftMenuPartial");
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
        @Html.Partial("Layout/_RightMenuPartial");
        <!-- #END# Right Sidebar -->
    </section>

    <section class="content">
        <div class="container-fluid">
            @RenderBody();
        </div>
    </section>
    <script src="/Assets/admin/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="/Assets/admin/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="/Assets/admin/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Bootstrap Colorpicker Js -->
    <script src="/Assets/admin/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>

    <!-- Dropzone Plugin Js -->
    <script src="/Assets/admin/plugins/dropzone/dropzone.js"></script>

    <!-- Input Mask Plugin Js -->
    <script src="/Assets/admin/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>

    <!-- Multi Select Plugin Js -->
    <script src="/Assets/admin/plugins/multi-select/js/jquery.multi-select.js"></script>

    <!-- Jquery Spinner Plugin Js -->
    <script src="/Assets/admin/plugins/jquery-spinner/js/jquery.spinner.js"></script>

    <!-- Jquery Validation Plugin Css -->
    <script src="/Assets/admin/plugins/jquery-validation/jquery.validate.js"></script>

    <!-- JQuery Steps Plugin Js -->
    <script src="/Assets/admin/plugins/jquery-steps/jquery.steps.js"></script>

    <!-- Bootstrap Tags Input Plugin Js -->
    <script src="/Assets/admin/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>

    <!-- Sweet Alert Plugin Js -->
    <script src="/Assets/admin/plugins/sweetalert/sweetalert.min.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="/Assets/admin/plugins/node-waves/waves.js"></script>

    <!-- noUISlider Plugin Js -->
    <script src="/Assets/admin/plugins/nouislider/nouislider.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="/Assets/admin/plugins/node-waves/waves.js"></script>



    <!--Js custom admin-->
    <script src="/Assets/admin/js/admin.js"></script>

    @RenderSection("Js")
    <!--Custom Js-->
    @RenderSection("CustomJs")
    <!-- Demo Js -->
    <script src="~/Assets/admin/js/demo.js"></script>
</body>
</html>
